html,
body {
  height: 100%;
}

body,
input {
  font-family: 'Josefin Sans', sans-serif;
}

#whole-body {
  height: 100%;
  background: linear-gradient(225deg, #00ffff, #ff4d4f);
  background-size: 300% 300%;
  animation: background 10s linear infinite;
}

a {
  text-decoration: none;
  color: black;
}

#temp-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 85%;
}

::-webkit-input-placeholder {
  color: #e0daca;
}

input {
  background: transparent;
  border: none;
  border-bottom: 1px dashed black;
  font-size: 40px;
  padding: 9px 0;
  padding-top: 18px;
  line-height: 40px;
}

input:focus {
  outline: none;
}

b {
  font-size: 30px;
}

.light {
  color: #000;
}

.dark {
  color: #fff;
}