html {
  height: 100%;
}

body,
input {
  font-family: 'Josefin Sans', sans-serif;
}

body {
  min-height: 100%;
  background: linear-gradient(250deg, #00ffff, #ff4d4f);
  background-size: 200% 200%;
  /*animation: background 10s linear infinite;*/
  overflow: hidden;
}

/*.home-link {
  top: 20px;
  left: 20px;
}*/

a {
  position: relative;
  text-decoration: none;
  color: black;
  top: 20px;
  left: 20px;
  font-size: 25px;
  z-index: 99;
}

#temp-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 90%; 
  width: 100%;
}

/* changes the colour of the placeholder text. Looks gnarly as there is no standard for placeholders apparently. Way to go. */
::-webkit-input-placeholder {
  color: #e0daca;
}

input {
  background: transparent;
  border: none;
  border-bottom: 1px dashed black;
  font-size: 40px;
  padding: 9px 0;
  padding-top: 18px;
  line-height: 40px;
  width: 300px;
  height: 60px;
}

input:focus {
  outline: none;
}

b {
  font-size: 30px;
}

.light {
  color: #000;
}

.dark {
  color: #fff;
}

/* phones */
@media only screen and (max-width: 500px) {
  input {
    width: 230px;
  }
  #temp-div {
    height: 100%;
  }
  b {
    font-weight: normal;
  }
}

/* ipaddles */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2) {
    input {
      width: 350px;
      padding: 25px 0;
      padding-top: 30px;
    }
    #temp-div {
      height: 100%;
    }
}